# Server
NODE_ENV=development
PORT=3001

# MongoDB
MONGO_URI=mongodb://localhost:27018/elastic_search

# Elasticsearch
ELASTICSEARCH_NODE=http://localhost:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=YOUR_PASSWORD_HERE
